* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.offer {
    background: url(/images/bg_special.png) no-repeat left top;
    color: #fff;
    padding: 80px 0 68px;
    text-align: center;
    margin-bottom: 30px;
}

.offer h2 {
    font-weight: normal;
    margin-bottom: 30px;
}

.offer .info {
    margin-bottom: 30px;
}

.offer .btn a {
    box-shadow: inset 0px 0px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #e4553f 5%, #d83f2e 100%);
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    opacity: 1;
    padding: 16px 14px;
    text-shadow: 0px 1px 0px #854629;
    transition: 0.3s all;
}

.offer .btn a:hover {
    opacity: 0.8;
}